*{
    margin:0px;
    padding:0px;
  }
  .card{
    border: 5px black solid;
    width: 500px;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 20px;
  }
  .card h2{
    text-align:center;
    padding:15px;
  }
  .card h3{
    text-align:center;
  }
  .popo{
    display:flex;
    justify-content:space-evenly;
  }
  .flex{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  .botones{
    display:flex;
    justify-content:space-evenly;
  }
  .botones a{
    text-decoration: none;
    font-size: larger;
    border: black 2.5px solid;
    padding: 2px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  .form{
    padding: 20px;
  }
  .formnombre{
    padding: 10px;
  }
  .formnombre input{
    width: 500px;
    height: 50px;
    text-align: center;
  }
  .formulario{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: x-large;
    border: solid black 5px;
    border-left: none;
    border-right: none;
    justify-content: space-between;
    align-items: center;
  }
  .filtrado{
    margin-top: 50px;
  }
  #formulariofiltro{
    display: flex;
    margin-top: 20px;
    font-size: large;
  }
  .formselect{
    margin-top: 58px;
    margin-left: 10px;
  }
  .agregarej{
    padding: 5px;
    font-size: x-large;
    border: 3.5px black solid;
    border-radius: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    text-decoration: none;
    margin-top: 18px;
  }
  .agregarmusculo{
    margin-top: 80px;
    padding: 5px;
    font-size: x-large;
    border: 3.5px black solid;
    border-radius: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    text-decoration: none;
  }
  .mensaje{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 50px;
    font-size: xxx-large;
    justify-content: center;
  }
  .formseccion{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

 